.SuccessMessage{
  color: green;
  display: none;
}

.ErrorMessage{
  color: red;
  display: none;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 250px;
  label{
    margin-top: 15px;
    span{
      color: #dd5201;
    }
  }
  input{
    margin-top: 15px;
  }
  #checkBoxsBar{
    display: grid;
    grid-template-columns: 1fr 1fr;

  }
  img{
    margin-top: 10px;
    width: 200px;
  }
}