#Loading {
  font-weight: bold;
  margin-top: 20px;
  font-size: 2.5em;
}

.rechercheTris {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  flex-wrap: wrap;
  font-size: 0.5em;
  p {
    font-size: 2.2em;
    line-height: 1.5em;
  }
}

li {
  p {
    margin-left: 10px;
  }
}
