.tgl {
  display: none;
  & + .tgl-btn {
    width: 5em;
    height: 3em;
    cursor: pointer;
  }
}
.tgl-skewed {
  & + .tgl-btn {
    overflow: hidden;
    transform: skew(-10deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.2s ease;
    font-family: sans-serif;
    background: red;
    &:after {
      left: 100%;
      content: attr(data-tg-on);
      color: #fff;
    }
    &:before {
      left: 0;
      content: attr(data-tg-off);
      color: #fff;
    }
    &:active {
      background: #888;
    }
  }
  &:checked {
    & + .tgl-btn {
      background: #86d993;
      &:before {
        left: -100%;
      }
      &:after {
        left: 0;
      }
    }
  }
}
.tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
  transform: skew(10deg);
  transition: all 0.2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
